<% if error_object.errors.any? && !error_object.valid? %>
  <div class="container px-5 px-sm-0">
    <div id="error_explanation">
      <ul>
        <h3><%= error_object.errors.full_messages.length %> errors prohibited this obj from being saved:</h3>
        <% error_object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>